body {
  background-color: #C3EBF4;
}
.main-menu {
  width: 60%;
  background-color: #B1BABC;
  border-radius: 25px;
  position: relative;
  margin: 10% auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2em;
}
.memePic {
  display: block;
  margin: auto;
  width: 77%;
}
